#my-account-app {
    .message-wrap {
        .close {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }
    }
    .accordion {
        .passed {
            border-left: 3px solid greenyellow;
        }
        .failed {
            border-left: 3px solid red;
        }
        .pending {
            border-left: 3px solid orange;
        }
        .accordion__heading {
            overflow: hidden;
        }
    }
}