#my-account-app {
    .content-wrap {
        label {
            margin-right: 1rem;
        }
        fieldset {
            padding: 1rem;
            input[type="url"], select {
                margin-left: 1rem;
            }
        }
        input[type="submit"] {
            margin-top: 1rem;
        }
    }
    .message-wrap {
        margin-bottom: 1rem;
        .close {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            cursor: pointer;
        }
        &.woocommerce-error {
            border-top-color: #d91515;
        }
    }
    .accordion {
        .passed {
            border-left: 3px solid #0ec81e;
        }
        .failed {
            border-left: 3px solid #d91515;
        }
        .pending {
            border-left: 3px solid #eea343;
        }
        .accordion__heading {
            overflow: hidden;
        }
        pre {
            background-color: #eceaea;
            padding: 5px;
            border: 1px solid #cecaca;
            white-space: pre-wrap;
            overflow: auto;
            &:not(.actual) {
                margin-top: 0;
            }
        }
    }
    .loading-spinner {
        width: 30px;
        height: 30px;
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #383636; /* Black */
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
        margin-top: 1rem;
    }
    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}